@use "../../styles/fonts";
@use "../../styles/colors";

.comum {
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;
  line-height: 1.75rem;
  transition: 0.2s filter;

  &:hover,
  &:active {
    filter: brightness(0.7);
  }

  &:focus {
    outline: 2px solid colors.$white;
  }

  &:disabled {
    filter: grayscale(0.8);
  }
}

.raised {
  background-color: colors.$red;
  color: white;
  @extend .comum;
  @include fonts.inter();
}

.outline {
  border: 2px solid colors.$red;
  background-color: unset;
  color: colors.$red;
  @include fonts.inter(700);
  @extend .comum;
}
