@mixin format {
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
}

.raised {
  background-color: red;
  color: white;
  @include format();
}

.outline {
  border: 2px solid red;
  color: red;
  @include format();
}
